
<div class="topalert">

</div>

<div class="row">
    <div class="col-lg-4 col-lg-offset-8 text-right">
    <h4>Selected Station</h4>
        </div>
</div>
<div class="row">
        <select ng-change="logout()" class="form-control" id="selectStation" ng-model="demoStation" ng-options="demoStation.stationManufacturerId for demoStation in demoStations">
            <option value="">Choose Station</option>
        </select>
    <br>
    <div ng-show="demoStation">
        <button ng-click="sendBootNotification()" type="button" class="btn btn-success btn-sm">Boot Notification</button>
        <button ng-click="sendStationStatusNotification()" type="button" class="btn btn-primary btn-sm">Station Status Notification</button>
        <button type="button" class="btn btn-warning btn-sm" data-animation="am-fade-and-slide-top" data-template="views/choosePedelecModal.html" bs-modal="modal">Pedelec Status Notification</button>
        <button ng-click="sendChargingStatusNotification()" type="button" class="btn btn-info btn-sm">Charging Status Notification</button>
    </div>
</div>
<br>

<div class="well" ng-switch="authenticated" ng-show="demoStation">
    <form ng-switch-when="false" name="$parent.authenticationForm" role="form" class="form-inline" novalidate>
        <div class="form-group" ng-class="{ 'has-error': authenticationForm.cardId.$invalid && authenticationForm.cardId.$dirty }">
            <label class="sr-only" for="cardId" class="control-label">Card Number: </label>
            <input name="cardId" type="text" class="form-control" id="cardId" ng-model="$parent.user.cardId" required placeholder="Enter CardId" />
        </div>
        <div class="form-group" ng-class="{ 'has-error': authenticationForm.pin.$invalid && authenticationForm.pin.$dirty }">
            <label class="sr-only" for="pin" class="control-label">PIN</label>
            <input name="pin" type="number" class="form-control" id="pin" ng-model="$parent.user.pin" placeholder="Enter PIN" required />
        </div>
        <button class="btn btn-primary" ng-click="authenticate()">Authenticate</button>
        <h5><kbd>CardId: 4234324 | PIN: 1234</kbd></h5>
    </form>

    <div ng-switch-when="true">
        <h4>UserID: {{user.userId}}</h4>
        <button class="btn btn-danger btn-sm" ng-click="logout()">Cancel</button>
    </div>
</div>

<div class="well" ng-if="demoStation">
    <h5>Rent pedelec from Slot</h5>
    <button style="margin: 4px; width: 50px; " ng-repeat="slot in demoStation.slots | orderBy : 'slotPosition'" ng-disabled="!slot.pedelec.pedelecManufacturerId || user.pedelec.pedelecManufacturerId || !authenticated || slot.slotState == 'INOPERATIVE' || slot.pedelec.pedelecState == 'INOPERATIVE'" ng-class="{'btn-success':slot.pedelec.pedelecManufacturerId, redborder: slot.slotState == 'INOPERATIVE' || slot.pedelec.pedelecState == 'INOPERATIVE'}" class="btn" ng-click="rent(slot)">{{slot.slotPosition}}</button>
    <br>
    <br>
    <div class="text-right">
        <span class="label label-success">pedelec available</span>
        <span class="label label-default">no pedelec</span>
    </div>
</div>
<hr ng-show="pedelecs.length > 0">
<h3 ng-show="pedelecs.length > 0">Rented Pedelecs</h3>
<div ng-repeat="pedelec in rentedPedelecs" class="well">
    <h5>Rented Pedelec: {{pedelec.pedelecManufacturerId}}</h5>
    <!--<h5>Owner: {{pedelec.owner.userId}}</h5>-->
    <h5 ng-show="demoStation">Return Pedelec to Slot of Station "{{demoStation.stationManufacturerId}}"</h5>
        <button style="margin: 4px; width: 50px;" ng-repeat="slot in demoStation.slots | orderBy:'slotPosition'" ng-if="!slot.pedelec.pedelecManufacturerId" class="btn btn-warning" ng-click="return(pedelec, slot)">{{slot.slotPosition}}</button>
</div>
